@charset "utf-8";
/* CSS Document */

h1 {
  text-align: center;
  color: antiquewhite;
  font-size: 5em;
  text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px rosybrown;

}
body {
  background-image: url("../floral.jpg");
  background-repeat: repeat;
}
	.container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		justify-center: center;
		flex-wrap: wrap;
		align-content:space-between;
		column-gap: 1em;
		row-gap: 1em;	
	}

.box{
	width: 400px;
	height: 150px;
	font-size: 2.5em;
	text-align: center;
	border-radius: 15px;
	border: double rgba(63,83,94,1.00);
	box-shadow: 5px 10px;
	background-color: rgba(63,83,94,1.00);
background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}
#box1{
	background-color:rgba(63,83,94,1.00);
	height: 100px;
}
#box2{
	background-color:rgba(63,83,94,1.00);
	height: 100px;
}
#box3{
	background-color:rgba(63,83,94,1.00);
}
#box4{
	background-color:rosybrown;
	width: 800px;
	height: 150px;
	align-content: center;
	
}
#box5{
	background-color:rosybrown;
	width: 600px;
	height: 150px;
	align-content: center;
	
	
}
.footer {
  text-align: center;
  color: antiquewhite;
  font-size: 5em;
  
}